* {
    font-family: PressStart2P;
}

@font-face {
    font-family: PressStart2P;
    src: url('PressStart2P.ttf');
}


.showbg {
    background-image: url("img/12522763_important-sex-lessons-we-can-all-learn-from_t6056275a.gif");
}

.title,
.second-title {

    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 65px;
    text-transform: uppercase;
    color: #f21f00;
    text-shadow: 9px 5px 4px #000000;
    margin-bottom: 0;
    z-index: 10;
}

.arrow {
    height: 200px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.fuck {
    position: relative;
    left: -30px;
    display: flex;
    margin: 0 auto;
    animation: show 2s;

}

.hide {
    display: none;
}

.button {
    height: 100px;
    width: 240px;
    cursor: pointer;
    margin: 50px auto;
}

.button .outer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    box-shadow: inset rgba(0, 0, 0, 0.85) 0px 1px 5px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.85) 0px 1px 5px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.85) 0px 1px 5px;
    -webkit-transform: perspective(500px) rotateX(35deg);
    -moz-transform: perspective(500px) rotateX(35deg);
}

.button .outer .height {
    position: relative;
    height: 100%;
    margin-top: -15px;
    padding-bottom: 15px;
    background: #a00000;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.85) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.85) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.85) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 8px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}

.button:hover .outer .height {
    margin-top: -10px;
    padding-bottom: 10px;
    background: #af0000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 6px;
}

.button:active .outer .height {
    margin-top: 0px;
    padding-bottom: 0px;
}

.button .outer .height .inner {
    color: #f2eeeb;
    line-height: 2.5em;
    font-size: 40px;
    letter-spacing: .1em;
    position: relative;
    height: 100%;
    text-align: center;
    text-shadow: #cd0004 0px 0px 1px;
    background: #cc000f;
    background: -moz-linear-gradient(top, #ec0026 0%, #ff0005 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec0015), color-stop(100%, #ff0005)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ec001b 0%, #d03d28 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #ff0012 0%, #610005 100%); /* W3C */
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset rgba(255, 255, 255, 0.85) 0px 0px 1px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.85) 0px 0px 1px;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.85) 0px 0px 1px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}

.button:hover .outer .height .inner {
    color: #cac6c3;
    text-shadow: #ff0005 0px 0px 1px;
    background: #ff0005; /* Old browsers */
    background: -moz-linear-gradient(top, #6e000d 0%, #ff0005 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0000d), color-stop(100%, #ff0005)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d0000e 0%, #ff0005 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #b20016 0%, #850005 100%); /* W3C */
}

.button:active .outer .height .inner {
    color: #2d0700;
    text-shadow: #99000c 0px 1px 0px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 0px 8px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.9) 0px 0px 8px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.9) 0px 0px 8px;
    background: #7d000a; /* Old browsers */
    background: -moz-linear-gradient(top, #7d0307 0%, #d3000f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d000a), color-stop(100%, #d30008)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d0012 0%, #d30800 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #7d0010 0%, #ff0005 100%); /* W3C */
}

.gif {
    /*position: absolute;*/
    width: 100%;
    margin: 0;
}

.g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9, .g10, .g11 {
    position: absolute;
    width: 150px;
    z-index: 1;
}

.g11 {
    margin-top: 20px;
    margin-left: 70%;
    transform: rotate(15deg);
    width: 200px;
    animation: show 0.5s;
}

.g10 {
    margin-top: 20px;
    margin-left: 7%;
    transform: rotate(-15deg);
    animation: show 0.5s;
}

.g8 {
    margin-top: 306px;
    margin-left: 12%;
    transform: rotate(-15deg);
    animation: show 0.5s;
}

.g7 {
    margin-top: 220px;
    margin-left: 70%;
    width: 214px;
    transform: rotate(-4deg);
    animation: show 0.5s;
}

.g6 {
    margin-top: 835px;
    margin-left: 15%;
    transform: rotate(23deg);
    animation: show 0.5s;
}

.g5 {
    margin-top: 581px;
    margin-left: 70%;
    transform: rotate(15deg);
    animation: show 0.5s;
}

.g3 {
    margin-top: 400px;
    margin-left: 47%;
    transform: rotate(-15deg);
    animation: show 0.5s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.1;
    }
    40% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.2;
    }
    60% {
        opacity: 0.3;
    }
    70% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.99;
    }

    0% {
        transform: rotate(260deg);
    }
    100% {
        transform: rotate(1440deg);
    }
}
